.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    padding: 7px;
    color: white;
    background-color: #FF6347;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    z-index: 1;
  }

.scroll-to-top-button:focus{
    border: 1px solid black;
}
  
.not-visible {
    display: none;
  }


/* animations */
.move {
  display: flex;
    -webkit-animation: mover .5s infinite  alternate;
    animation: mover .5s infinite  alternate;
}

@keyframes mover {
    0% { transform: translateY(2px); }
    100% { transform: translateY(-2px); }
}